<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="title-container">
        <h1>Iniciar Sesión</h1>
    </div>

    <!-- Mostrar mensaje de error si existe en el contexto -->
    {% if error %}
    <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}

    <div class="form-container">
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
